*{margin: 0; padding: 0; 
    /* outline: 1px solid tomato; */
}

*::before, *::after{box-sizing: border-box;}
body{min-height: 100dvh;}
input, button, textarea, select{font: inherit;}
p{text-wrap: pretty;}
h1, h2, h3, h4, h5, h6{text-wrap: balance;}
/* img, video, svg{height: auto; max-width: 100%;} */
@media (prefers-reduced-motion: reduce){
*, *::before, *::after{
animation-duration: 0.01ms !important;
animation-iteration-count: 1 !important;
max-width: 100%;
transition-duration: 0.01ms !important;
scroll-behavior: auto !important;
transition: none;
}
}

@font-face {
    font-family: "Montserrat-Bold.ttf";
    src: url(../storage/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "Montserrat-SemiBold.ttf";
    src: url(../storage/fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: "Montserrat-Regular.ttf";
    src: url(../storage/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "Montserrat-Medium.ttf";
    src: url(../storage/fonts/Montserrat-Medium.ttf);
}


@media screen and (max-width: 1440px) {
    .bodycontainer .maincontainer > article:nth-child(1) {    
        scale: 1.5;
    }
}

@media screen and (max-width: 1024px) {
    .bodycontainer .maincontainer > article:nth-child(1) {    
        scale: 2.0;
    }
}

@media screen and (max-width: 728px) {
    .bodycontainer .maincontainer > article:nth-child(1) {    
        scale: 2.5;
    }
}

.bodycontainer {
    background: -webkit-linear-gradient(61deg, rgba(254, 175, 0, 1) 0%, rgba(248, 212, 66, 1) 100%);
    background: -moz-linear-gradient(61deg, rgba(254, 175, 0, 1) 0%, rgba(248, 212, 66, 1) 100%);
    background: -o-linear-gradient(61deg, rgba(254, 175, 0, 1) 0%, rgba(248, 212, 66, 1) 100%);
    background: linear-gradient(61deg, rgba(254, 175, 0, 1) 0%, rgba(248, 212, 66, 1) 100%);
    
    height: 100%;
    width: 100%;

    .maincontainer{
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        >article:nth-child(1){
            
            box-shadow: 0vw 0vw 10px rgba(0, 0, 0, 0.171),0vw 0vw 10px rgba(0, 0, 0, 0.13);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            gap: 3.47vw;
            
            /* position: absolute;
            left: 33.54vw;
            top:12.15vw ; */
            
            width: 33vw;
            height: 38.19vw ;
            

            background-color: white;
            border-radius: 1.38vw;


            >section:nth-child(1){
                display: flex;
                flex-direction: column;
                place-items: center;
                width: 23.79vw;
                height: 9.38vw;
                gap: 2.98vw;
                justify-content: center;
                align-items: center;
                text-align: center;
                

                h1{
                    text-wrap: nowrap;
                    font-family: "Montserrat-Bold.ttf";
                    padding-left: 0.75vw;
                    color: black;
                    font-size: 2.22vw;
                    border-left: 0.42vw solid  rgba(248, 212, 66, 1);

                }

                >div{
                    display: flex;
                    flex-direction: column;
                    gap:0.625vw ;
                    

                    h2{
                        font-family: "Montserrat-SemiBold.ttf";
                        font-size: 1.52vw;
                        color: black;
                    }

                    p{
                        font-family: "Montserrat-Regular.ttf";
                        font-size: 0.97vw;
                        color: rgba(108, 108, 108, 1);

                    }

                }



            }

            >section:nth-child(2){
                display: flex;
                flex-direction: column;
                gap: 1.875vw;

                >form{
                    width: 28.81vw;
                    height: 16.38vw;

                    display: flex;
                    flex-direction: column;
                    gap: 2.08vw;
                    
                    >fieldset{
                        display: flex;
                        flex-direction: column;
                        gap: 1.38vw;
                        border: none;

                        >div:nth-child(1){
                            display: flex;
                            flex-direction: column;
                            gap: 0.7vw;
                            
                            

                            >label{
                                font-family: "Montserrat-Medium.ttf";
                                font-size: 0.97vw;
                                color: rgba(108, 108, 108, 1);
                            }

                            >input{
                                width: 28.81vw;
                                height: 3.05vw;   
                                border-radius: 0.28vw;
                                border: 0.13vw solid  rgba(229, 229, 229, 1);
                                text-indent: 1.05vw;
                                display: flex;
                                font-size: 0.83vw;
                                
                                
                            }
                            
                            >input::placeholder{
                                
                                font-family: "Montserrat-Regular.ttf";
                                color: rgba(205, 205, 205, 1);
                                font-size: 0.83vw;
                                display: flex;

                                
                                
                            }

                        }


                        >div:nth-child(2){
                            display: flex;
                            flex-direction: column;
                            gap: 0.7vw;
                            
                                                        
                            >label{
                                font-family: "Montserrat-Medium.ttf";
                                font-size: 0.97vw;
                                color: rgba(108, 108, 108, 1);
                            }
                            
                            >input{
                                width: 28.81vw;
                                text-indent: 1.05vw;
                                height: 3.05vw;   
                                border-radius: 0.28vw;
                                border: 0.13vw solid  rgba(229, 229, 229, 1);
                                font-size: 0.83vw;

                            }

                            >input::placeholder{
                                
                                font-family: "Montserrat-Regular.ttf";
                                color: rgba(205, 205, 205, 1);
                                font-size: 0.83vw;
                                

                            }
                        }

                    }

                    >button{
                        background-color: rgba(254, 175, 0, 1);
                        border: none;
                        border-radius: 0.28vw;
                        height: 3.05vw;
                        cursor: pointer;
                        color: white;
                        font-family: "Montserrat-Medium.ttf";
                        font-size: 0.97vw;

                    }
                }

                >p{
                    font-family: "Montserrat-Regular.ttf";
                    text-align: center;
                    color: rgba(108, 108, 108, 1);
                    font-size: 0.97vw;
                    >span{
                        font-family: "Montserrat-Medium.ttf";
                        color: rgba(254, 175, 0, 1);
                        a{
                            text-decoration: none;
                            color: rgba(254, 175, 0, 1);

                        }

                    }

                    >span:hover{
                        text-decoration: underline;
                        color: rgba(254, 175, 0, 1);
                    }
                    
                }
            }
            
        
        
        
        
        }






    }



}
