
*{margin: 0; padding: 0; 
    /*outline: 1px solid tomato;*/
  }
  *::before, *::after{box-sizing: border-box;}
  body{min-height: 100dvh;}
  input, button, textarea, select{font: inherit;}
  p{text-wrap: pretty;}
  h1, h2, h3, h4, h5, h6{text-wrap: balance;}
  /* img, video, svg{height: auto; max-width: 100%;} */
  @media (prefers-reduced-motion: reduce){
  *, *::before, *::after{
  animation-duration: 0.01ms !important;
  animation-iteration-count: 1 !important;
  max-width: 100%;
  transition-duration: 0.01ms !important;
  scroll-behavior: auto !important;
  transition: none;
  }
  }

  @font-face {
    font-family: "Montserrat-Bold.ttf";
    src: url(../storage/fonts/Montserrat-Bold.ttf);
  }
  
  @font-face {
    font-family: "Montserrat-SemiBold.ttf";
    src: url(../storage/fonts/Montserrat-SemiBold.ttf);
  }
  
  @font-face {
    font-family: "Montserrat-Regular.ttf";
    src: url(../storage/fonts/Montserrat-Regular.ttf);
  }
  
  @font-face {
    font-family: "Montserrat-Medium.ttf";
    src: url(../storage/fonts/Montserrat-Medium.ttf);
  }
  
  body{
    background-color: rgba(248, 248, 248, 1);
  }


/* Dialog*/
.newstudentform{
  font-family: "Montserrat-Medium.ttf";
  font-size: 1vw;
  position: fixed;
  width: 35vw;
  height: 26vw;
  display: flex;
  flex-direction: column;
  place-self: center;
  align-items: center;
  justify-content: center;
    form{

      fieldset{
        display: flex;
        flex-direction: column;
        gap: 0.30vw;
        width: 30vw;
        display: flex;
        flex-direction: column;
        padding: 1vw 1vw;
        
      }

    }

  }
dialog:not([open]) {
    display: none;
  }


.studentscontainer{
  
    
    position: absolute;
    top: 0vw;
    left: 0vw;
    height: 100vh;
    width: 77.08vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    gap:2.08vw ;
    align-content: center;

    >article:nth-child(1){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;        
        width: 100%;
        height: 3.05vw;

        >h1{
          font-family: "Montserrat-Bold.ttf";
          font-size: 1.52vw;

        }
        >div{
          display: flex;
          flex-direction: row;
          align-items: center;
          gap:2.08vw ;

          img{
            width: 0.97vw;
            height: 1.52vw;
          }
          button{
            font-family: "Montserrat-Medium.ttf";
            font-size: 0.97vw;
            width: 13.81vw;
            height: 3.05vw;
            border: none;
            border-radius: 0.27vw;
            background-color: rgba(254, 175, 0, 1);
            color: #fff;
            cursor: pointer;

          }

          button:hover{
            background-color: rgb(231, 163, 14);
            color: #f0f0f0;
          }
        }

    }

    >article:nth-child(2){
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        gap: 1.5vw;
        >div:nth-child(1){
          width: 100%;
          height:0.2vw ;
          background-color: rgba(229, 229, 229, 1);
        }
        >div:nth-child(2){
          
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-left: 7.57vw;
          margin-right: 13.81vw;
          >p{
            font-family: "Montserrat-SemiBold.ttf";
            color:rgba(172, 172, 172, 1);
            font-size: 0.83vw;          
          }
          
        }
    }

    >article:nth-child(3){
        display: flex;
        flex-direction: column;
        gap:0.69vw ;
        
        div{       
            font-size: 0.97vw;     
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 5.9vw;
            background-color: white;
            border-radius: 0.55vw;
            font-family: "Montserrat-Regular.ttf";

            img{
              width: 4.51vw;
              height: 3.82vw;
            }
        }
    }

}

