
*{margin: 0; padding: 0; 
  /*outline: 1px solid tomato;*/
}
*::before, *::after{box-sizing: border-box;}
body{min-height: 100dvh;}
input, button, textarea, select{font: inherit;}
p{text-wrap: pretty;}
h1, h2, h3, h4, h5, h6{text-wrap: balance;}
/* img, video, svg{height: auto; max-width: 100%;} */
@media (prefers-reduced-motion: reduce){
*, *::before, *::after{
animation-duration: 0.01ms !important;
animation-iteration-count: 1 !important;
max-width: 100%;
transition-duration: 0.01ms !important;
scroll-behavior: auto !important;
transition: none;
}
}

.headercontainer{
  
  
  
  position: fixed;
  transition: left 1s ease-in-out;
  top: 0;
  left: 18.75vw;
  width: 81.25vw; 
  height: 4.17vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  
  /* Botón de menú */
  .menu-btn {
    background:transparent;
    color: white;
    border: none;
    
    
    padding: 1vw 1vw 1vw 2.08vw;
    cursor: pointer;
    transition: left 1s ease-in-out;
    display: flex;
    align-items: center;

    >img{
      transition: transform 1s ease-in-out;
      width: 1.25vw;
      height: 1.25vw;
    }
  }

  .menu-btn:hover {
    background: rgb(221, 180, 133);
  }

  >div{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.875vw;
    margin-right: 3.54vw;
    height: 2.57vw;
    
       
    
    >div{
      width: 14.72vw;
      height: 2.57vw;
      border-radius: 0.55vw;
      border: 0.2vw solid rgba(229, 229, 229, 1);
      display: flex;
      flex-direction:row;
      align-items: center;

      >input{
        font-size: 1vw;
        text-indent: 1.05vw;
        border: none;
        background: none;
      }

      >input:focus{
        outline: none;
      }

      img{
        width: 0.98vw;
        height: 0.98vw;
      }
      
    }


    >img{
      width: 1.18vw;
      height: 1.38vw;
    }

  }

}

.headercontainer.expand{
  left: 0px;
  width: 100%; 
}

.maincontainer{
  position: fixed;
  top:calc(2.08vw + 4.16vw ) ;
  left: 20.83vw;
  margin-right: 2.08vw;
  transition: left 1s ease-in-out;
  width: 100vw;
  height: 100vh;
  background-color: chocolate;

  >section:nth-child(1){

    position: absolute;
    top: 0vw;
    left: 0vw;
    height: 100vh;
    width: 77.08vw;
    background-color: beige;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:2.08vw ;
    align-content: flex-start;


    article{
      width: 17.70vw;
      height: 10.9vw;
      background-color: red;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;

      div{
        background-color: rgb(203, 255, 196);
        width: 100%;
      }
    }

  }
}

.maincontainer.mainexpand{
  width: 100%;
  left: 2.08vw;
  
  >section:nth-child(1){
    width: 95.84vw;    
  }
  
}


.sidebar {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0px; 
  width: 18.75vw;
  height: 100vh;
  background: rgba(242, 234, 225, 1);
  color: white;
  padding-top: 60px;
  transition: left 1s ease-in-out;
  
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  
  align-items: center;
  color: black;

  >h1{
    text-align: center;
    border-left:0.42vw solid rgba(248, 212, 66, 1)  ;
    font-size: 1.38vw;    
    width: 15.24vw;
    margin-top: 1.25vw;
    }

  >img{
    margin-top: 3.75vw;   
    width: 8.88vw;
    height: 8.88vw;
  }
  
  >h2{
    margin-top: 1.35vw;   
    font-size: 1.18vw;
  }

  >p{
    margin-top: 0.69vw;   
    font-size: 0.97vw;
    color: rgba(254, 175, 0, 1);

  }

  >ul{
    display: flex;
    flex-direction: column;
    gap: 1.25vw;
    list-style: none;  
    margin-top: 5.55vw;   
    width: 13.40vw;
    
    
    >li{
      border-radius: 0.27vw;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      height: 2.84vw;

      >img{
        height: 1.18vw;
        width: auto;
      }
      
      button {
        font-size: 0.97vw;
        width: 6vw;
        color: black;
        text-decoration: none;
        display: block;
        background-color: transparent;
        border: none;
      }

      
    
    }

    li:hover {
      background: rgba(254, 175, 0, 1);
    }
  }

  >div{
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    height: 6vw;
    margin-top:9.44vw ;
  }

}




/* Clase para mostrar el menú */
.sidebar.show {
  left: -18.75vw;
}

.menu-btn.move {
  left: 0px; /* Ajusta el desplazamiento del botón */
  img{
    transform: rotate(180deg);
    
  }
}

