<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud-operations-dashboard</title>
    <link rel="stylesheet" href="../css/sytylesDashboard.css">
    <script src="../js/dashboard.js" defer type="module"></script>
</head>
<body>
    
     <!-- Botón para abrir el menú -->
     <button id="menuToggle" class="menu-btn">☰</button>

     <!-- Menú lateral -->
     <nav id="sidebar" class="sidebar">
         <ul>
             <li><a href="#">Inicio</a></li>
             <li><a href="#">Perfil</a></li>
             <li><a href="#">Configuración</a></li>
             <li><a href="#">Salir</a></li>
         </ul>
     </nav>
    
</body>
</html>