<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    
    <!-- <link rel="stylesheet" href="../css/sylesPayments.css">
    <script type="module" src="../js/payments.js " defer></script> -->
</head>
<body>
    
    <section class="paymentcontainer" >
            
            <article> 
                <h1>Students List</h1>
                <img src="../storage/img/sortStudentsIcon.svg" alt="">
                
            </article>
            
            
            <article>
                <div>
                    <!-- esto es solo una linea ** no eliminar div ** -->
                </div>
                <div>
                    <p>Name</p>
                    <p>Payment Schedule</p>
                    <p>Bill Number</p>
                    <p>Amount Paid</p>
                    <p>Balance amount</p>
                    <p>Date </p>
                    
                    
                </div>
                
            </article>

            <article class="paymentdetails">
                
                
                <!-- plantilla -->
                <!-- <div>
                    <p>Name</p>
                    <p>Payment Schedule</p>
                    <p>Bill Number</p>
                    <p>Amount Paid</p>
                    <p>Balance amount</p>
                    <p>Date </p>
                    <img src="" alt="">

                </div> -->

            </article>


            

        </section>  
        
        
    
    
</body>
</html>