<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>students</title>
    <link rel="stylesheet" href="../css/stytleStudetns.css">
</head>
<body>
    <main class="maincontainertwo">
        <section class="studentscontainer">
            <article> 
                <h1>Students List</h1>

                <div>
                    <img src="" alt="">
                    <button>
                        ADD NEW STUDENT
                    </button>
                </div>
            </article>

            <article>
                <p>Name</p>
                <p>Email</p>
                <p>Phone</p>
                <p>Enroll Number</p>
                <p>Date of admission</p>

            </article>

            <article class="studentlistcontaienr">

            </article>


            

        </section>  
        
        
    </main>
    
</body>
</html>