<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    
    <!-- <link rel="stylesheet" href="../css/stytleStudetns.css"> -->
    <!-- <script type="module" src="../js/students.js" async></script> -->
</head>
<body>
    
        <section class="studentscontainer">
            <article> 
                <h1>Students List</h1>

                <div>
                    <img src="" alt="">
                    <button>
                        ADD NEW STUDENT
                    </button>
                </div>
            </article>

            <article>
                <p>Name</p>
                <p>Email</p>
                <p>Phone</p>
                <p>Enroll Number</p>
                <p>Date of admission</p>

            </article>

            <article class="studentlistcontainer">
                
                
                <!-- plantilla -->
                <!-- <div>
                    <img src="" alt="">
                    <p>Karthi</p>
                    <p>karthi@gmmail.com</p>
                    <p>7305477760</p>
                    <p>1234567305477760</p>
                    <p>08-Dec, 2021</p>
                    <img src="" alt="">
                    <img src="" alt="">

                </div> -->

            </article>


            

        </section>  
        
        
    
    
</body>
</html>